body {
      display: flex;
    }
    .sidebar {
      width: 250px;
      height: 100vh;
      padding-top: 1rem;
      position: fixed; /* Fixa a sidebar */
      top: 0;
      left: 0;
    }
   
    .content {
      flex: 1;
      padding: 1rem;
      margin-left: 250px; /* Adiciona margem para não ficar atrás da sidebar */
    }
    .submenu {
      padding-left: 1rem;
    }
     .custom-table-container {
    max-width: 800px;
    margin: 0 auto; /* Centraliza */
  }

  .custom-table {
    width: 100%;
    background-color: #ffffff;
  }

  .custom-table thead {
    
    color: white;
  }

  .custom-table th, .custom-table td {
    padding: 8px 12px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #dee2e6;
    font-size: 14px;
  }

  .custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }